html body {
	font-family: 'Lora', serif;
	margin:0px;
}

.header {
	background-color: #9ec9af;
	padding: 10px;
}

	.header h2 a {
		padding:30px;
		color: white;
	}

#footer {
	font-size:10px;
	position:relative;
	width:100%;
	padding-top: 100px;
}

a {
	color:black;
	text-decoration: none;
}

html h1 {
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
}

html h2 {
	font-size:20px;
}

h3 {
	font-size:20px;
	color:white;
}

table {
	border-collapse: collapse;
}

td {
    padding-left: 30px;
    padding-right: 30px;
}

.story {
	padding-left:40px;
	padding-right:40px;
	padding-top:30px;
	padding:bottom:30px;
}

#title {
	font-size:30;
}

#author {
	font-style:italic;
}

.more {
	width:100%;
	display: flex;
}

#right {
	margin-left:20px;
}

a {
	color:#80b897;
}

figure {
	column-count:3;
	margin-top:40px;
}

#azindex {
	padding-top: 50px;
	width:20px;
}

#index li {
	float: left;
	height: 1em;
	list-style-type: none;
	margin: 0.2em 0.3em;
	padding: 0;
	width: 3em;
}

#index li {
	margin: 0.2em 0.2em;
}

#index a:link, #index a:visited {
	color: black;
	display: block;
	height: 1em;
	padding: 0.2em .03em;
	text-align: center;
	text-decoration: none;
	width: 3em;
}

#index a:hover {
	background: #9ec9af;
	color: #fff;
	text-decoration: underline;
}

.contentdiv {
	padding-left: 25%;
	padding-right: 25%;
	position:relative;	
	vertical-align: middle;
	-webkit-animation: fade-in 1s 1;
    -moz-animation: fade-in 1s 1;
    -o-animation: fade-in 1s 1; 
    animation: fade-in 1s 1; 
}

.contentdiv a:hover {
	text-decoration: none;
}

.text {
	padding-top: 50px;
	text-align: center;
}

.welcomediv {
	padding: 80px;
	padding-top: 100px;
	padding-bottom: 100px;
	font-size:20px;
	text-align:center;
	color: black;
    -webkit-animation: fade-in 1s 1;
    -moz-animation: fade-in 1s 1;
    -o-animation: fade-in 1s 1; 
    animation: fade-in 1s 1; 
}

.welcomediv a:hover {
	text-decoration: none;
}

.timeread-div {
	padding-top:100px;
	-webkit-animation: fade-in 1s 1;
    -moz-animation: fade-in 1s 1;
    -o-animation: fade-in 1s 1; 
    animation: fade-in 1s 1; 
}

.timediv {
	display:flex;
	text-align:center;
	justify-content: center;
	align-items: stretch;
}

.timediv a {
	flex-grow: 3;
}

.timediv .button {
	margin:5px;
	padding: 20px;
}

.button {
	background: #9ec9af;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    border-style: solid;
    border-color: #9ec9af;
}

.button:hover {
	background: #ffffff;
	color: #9ec9af;
}

.info {
	padding-top: 100px;
	padding-bottom: 100px;
	font-size: 18px;
	text-align: center;
}

.text a {
	color: #9ec9af;
	text-decoration: underline;
	transition: all 0.5s ease 0s;
}

.text a:hover {
	color: #000000;
}

.text h1 {
	font-size: 28px;
}

.text img {
	padding-left: 10px;
	padding-right: 10px;
}

.logo-small img {
	align-self: left;
	height: 80px;
}

.fancyline {
	border-width: 2px;
}

.story a {
	color: #9ec9af;
	transition: all 0.5s ease 0s;
}

.story a:hover {
	color: #000000;
}

.bodytext {
	padding-top: 50px;
}

.browse {
	text-align:center;
	display: flex;
	flex-direction: column;
  	align-content: center;
}

.browse .button {
	max-width:400px;
	margin-left: auto;
	margin-right: auto;
}

.dropdown {
	display: none;
	position: relative;
	max-width: 400px;
	padding-top: 30px;
	padding-bottom: 30px;
	background: #9ec9af;
	color: #ffffff;
	border-style: solid;
	border-color: #9ec9af;
	text-align: center;
}

.dropdown a {
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background: #ffffff;
	color: #9ec9af;
}

.show {
	display: block;
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@media only screen and (min-width: 350px) and (max-width: 600px) { 

  	.header h2 a {
  		font-size:20px;
  		padding:10px;
		color: white;
  	}

  	.logo-small img {
  		max-height: 50px;
  	}

  	.contentdiv {
  		padding-left: 10px;
  		padding-right: 10px;
  	}

  	.welcomediv {
  		padding: 20px;
  		padding-top:75px;
  		padding-bottom:75px;
  	}

  	.info {
  		padding-left:50px;
  		padding-right:50px;
  	}

  	.timeread-div {
  		padding-top: 30px;
  		padding-left: 30px;
  		padding-right: 30px;
  	}

  	.timediv {
  		display: block;
  	}

  	.timediv .button {
  		margin: 20px;
  		margin-bottom: 15px;
  		padding-top: 10px;
  		padding-bottom: 10px;
  	}

  	.browse .button {
  		margin: 0px;
  		margin-bottom: 15px;
  	}

  	.contentdiv h1 {
  		font-size: 30px;
  	}

  	.contentdiv h2 {
  		font-size: 18px;
  	}
}

@media only screen and (max-width: 1000px) and (min-width: 600px) { 
	.contentdiv {
		padding-left: 50px;
		padding-right: 50px;
	}
}